* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Prompt', sans-serif;
    font-size: 3em;
    color: steelblue;
}

h2, h3 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.75em;
    color: #999;
    
}

article.ticket-container {
    background-color: white;
    width: 350px;
    margin: 15vh auto auto;
    padding: 1.2em 2.2em;
}

header.from-to-container {
    justify-content: space-between;
    margin-bottom: 2.5em;
}

header.from-to-container h2 {
    line-height: 0;
}

.to-container .city-name {
    text-align: right;
}

.from-to-container, 
.flight-date-seat-row,
.lower-half-container {
    display: flex;
    flex-direction: row;
}

.flight-date-seat-row div,
.pax-class-departure-column div {
    margin-bottom: 1.5em;
}

.flight-date-seat-row div {
    margin-right: 4em;
}

.hyphen {
    margin: 2.5em 2em;
    width: 25px;
    height: 4px;
    z-index: 100;
    background-color: #ddd;
}

.qr-code {
    width: 130px;
    margin-left: auto;
}