html * {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(white, #6a96d8);
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

h1, .time_block_indicator, button {
    text-transform: uppercase;
}

p, .time_submitted, .time_block_indicator {
    font-size: 0.7em;
}

.chat_modal {
    height: 450px;
    width: 350px;
    margin: auto;
    background-color: #fff;
    position: relative;
}

header {
    background-color: #6a96d8;
    color: white;
    height: 4em;
    display: flex;
    align-items: center;
}

header .status_dot {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    margin: 0.8em;
    background-color: white;
}

header h1 {
    flex: 1;
    font-size: 1em;
    font-weight: 500;
}

header .X {
    margin: 0.8em;
    color: #e3ebf4;
}

.header img:hover {
    opacity: 0.7;
}

.chat_window {
    padding: 1em;
}

.time_block_indicator {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: #ccc;
    border-bottom: 1px solid #ccc;
    line-height: 0;
    font-weight: 500;
}

.time_block_indicator span {
    background-color: white;
    padding: 4px;
}

.chat_history {
    list-style: none;
    padding: 0 0;
    margin: 0 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}


.time_submitted {
    color: #ccc;
}

.chat_bubble {   
    background-color: #f2f2f2;
}

.chat_bubble, .status_bubble {
    position: relative;
    display: inline-block;
    max-width: 75%;
    padding: 3px 0.5em;
    border-radius: 3px;
}

.left > .chat_bubble {
    background-color: #e3ebf4;
}

.left > .chat_bubble::after {
    position: absolute;
    z-index: 1;
    width: 7px;
    height: 40px;
    
    top: 0px;
    left: -4px;
    
    border-top: 6px solid #e3ebf4;
    border-left: 4px solid transparent;
    content: '';
}

.single_chat_bubble_wrapper.right *, .status_bubble {
    float: right;
    clear: both;
}

.status_bubble {
    background-color: #ffc2c1;
}

.chat_text_input {
    display: flex;
    flex-flow: row;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.chat_text_input::before { 
    position: absolute;
    border-top: 1px solid #ccc;
    height: 0px;
    width: 90%;
    margin-left: 5%;
    content: '';
}

.chat_text_input_label {
    width: 100%;
}

.chat_text_input input {
    height: 40px;
    padding: 1em 1.2em;
    width: 75%;
    border: none;
    font-size: 0.7em;
}

.chat_text_input_submit {
    width: 25%;
    height: 40px;
    color: #6a96d8;
    font-weight: 700;
    float: right;
    background-color: white;
    border: 0px;
    cursor: pointer;
    font-size: 0.7em;
}
